/* Base styles for app bar */
.app-bar {
  display: flex;
  align-items: center;
  height: 64px; /* Set the desired height for your app bar */
  background-color: #f5f3f3; /* Example background color */
  color: #000000; /* Example text color */
  padding: 0 16px; /* Horizontal padding (equally distributed left and right) */
  width: 85vw;
  margin: 0;
}

.app-bar.dark {
  background-color: #333333; /* Dark theme background color */
  color: #ffffff; /* Dark theme text color */
}

/* Title styles */
.title {
  font-size: 24px;
  font-weight: bold;
}

/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px); /* Calculate remaining viewport height */
  max-width: 100vw;
  background: linear-gradient(
    to bottom right,
    #007bff,
    #ffffff
  ); /* Blue to White gradient */
  color: #000000;
}

/* Responsive styles */
@media (max-width: 768px) {
  .app-bar {
    padding: 0 10px; /* Adjust padding for smaller screens */
    width: 100%; /* Full width for smaller screens */
  }

  .container {
    height: calc(100vh - 128px); /* Adjust height for smaller screens */
    /* You can adjust other styles as needed for smaller screens */
  }
}

.notification-icon {
  margin-left: auto; /* Push the icon to the right */
  padding-left: 20px; /* Add spacing between container and icon */
}

.notification-icon svg {
  font-size: 20px; /* Adjust icon size */
  cursor: pointer; /* Add pointer cursor to indicate interactivity */
}

/* Styles for CircleAvatar component (adjust as per your CircleAvatar implementation) */
.CircleAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px; /* Adjust margin as needed */
}
