body {
  width: 100%;

  background-color: #edfaff8f; /* White background for the entire page */
  color: #333333; /* Default text color */
}

.home {
  width: 100%;
}

/* Dark theme */
.dark {
  color: #ffffff; /* Light text color for dark theme */
}

/* Override other specific styles as needed */
@media (max-width: 768px) {
  .home {
    padding: 10px;
  }

  .content {
    margin-top: 10px;
  }
}
