/* cards3.css */
.Container3 {
  border-radius: 8px;
  padding: 5%; /* Use percentage for responsive padding */
  margin: 2%; /* Use percentage for responsive margin */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 80%; /* Responsive width */
  max-width: 400px;
  height: 120px;
}
.Title {
  font-size: 20px;
}

.TableContainer {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
}

.Table {
  width: 100%;
  border-collapse: collapse;
}

.TableBody {
  border-bottom: 1px solid #ddd;
}

.TableCell {
  text-align: left;
}

.AvatarWrapper {
  display: flex;
  align-items: center;
}

.Avatar {
  margin-right: 12px; /* Adjust spacing between Avatar and DisplayName */
}

.DisplayName {
  font-weight: bold;
}
