.Container2 {
  /* Container styling */
  border-radius: 8px;

  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* background-color: white; */

  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.GridContainer {
  /* Grid container styling */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 10px; /* Gap between grid items */

  /* Responsive adjustments */
  @media (max-width: 768px) {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Single column for smaller screens */
  }
}

.GridItem {
  /* Grid item styling */
  border: 1px solid #ccc;
  padding: 10px;
  height: 13vh;
  width: 12vw;
  border-radius: 20px;
  text-align: center;
  background-color: cornflowerblue;
  transition: all 250ms;
  transition-behavior: normal;

  /* Responsive adjustments */
  @media (max-width: 1450px) {
    width: 80%; /* Adjust width for smaller screens */
    /* Center-align items on smaller screens */
  }
}

.GridItemnew {
  /* Grid item styling */
  border: 1px solid #ccc;
  padding: 10px;
  height: 13vh;
  width: 12vw;
  border-radius: 20px;
  text-align: center;
  background-color: cornflowerblue;
  transition: all 250ms;
  transition-behavior: normal;

  /* Responsive adjustments */
  @media (max-width: 1450px) {
    width: 80%; /* Adjust width for smaller screens */
    /* Center-align items on smaller screens */
  }
}

.GridItemnew:hover {
  /* Grid item styling */
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.GridItemnew2 {
  /* Grid item styling */
  border: 1px solid #ccc;
  padding: 10px;
  height: 13vh;
  width: 12vw;
  border-radius: 20px;
  text-align: center;
  background-color: cornflowerblue;
  transition: all 250ms;
  transition-behavior: normal;

  /* Responsive adjustments */
  @media (max-width: 1450px) {
    width: 80%; /* Adjust width for smaller screens */
    /* Center-align items on smaller screens */
  }
}

.GridItemnew2:hover {
  /* Grid item styling */
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.GridItemnew3 {
  /* Grid item styling */
  border: 1px solid #ccc;
  padding: 10px;
  height: 13vh;
  width: 12vw;
  border-radius: 20px;
  text-align: center;
  background-color: cornflowerblue;
  transition: all 250ms;
  transition-behavior: normal;

  /* Responsive adjustments */
  @media (max-width: 1450px) {
    width: 80%; /* Adjust width for smaller screens */
    /* Center-align items on smaller screens */
  }
}

.GridItemnew3:hover {
  /* Grid item styling */
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.GridItemnew4 {
  /* Grid item styling */
  border: 1px solid #ccc;
  padding: 10px;
  height: 13vh;
  width: 12vw;
  border-radius: 20px;
  text-align: center;
  background-color: cornflowerblue;
  transition: all 250ms;
  transition-behavior: normal;

  /* Responsive adjustments */
  @media (max-width: 1450px) {
    width: 80%; /* Adjust width for smaller screens */
    /* Center-align items on smaller screens */
  }
}

.GridItemnew4:hover {
  /* Grid item styling */
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.ContainerContent {
  /* Content inside grid item styling */
  font-size: 14px;
  font-weight: bold;
  color: aliceblue;

  @media (max-width: 1450px) {
    font-size: 10px; /* Adjust width for smaller screens */
    /* Center-align items on smaller screens */
  }
}

.ContainerContent1 {
  /* Content inside grid item styling */
  font-size: 36px;
  font-weight: bold;
  padding-top: 10px;
  color: aliceblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  @media (max-width: 1450px) {
    font-size: 14px; /* Adjust width for smaller screens */
    /* Center-align items on smaller screens */
  }
}
